* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}

.img {
  width: 200px;
  height: 200px;
}

.select {
  margin: 20px;
}
